<div class="container">
  <div>
    <h2>Iniciar sesión</h2>
    <form (ngSubmit)="onSubmit()">
      <div>
        <label for="names">Nombres:</label>
        <input type="text" id="names" placeholder="Nombres" [(ngModel)]="names" name="names" required>
      </div>
      <div>
        <label for="first_lastname">Apellido paterno:</label>
        <input type="text" id="first_lastname" placeholder="Apellido paterno" [(ngModel)]="first_lastname" name="first_lastname" required>
      </div>
      <div>
        <label for="second_lastname">Apellido materno:</label>
        <input type="text" id="second_lastname" placeholder="Apellido materno" [(ngModel)]="second_lastname" name="second_lastname" required>
      </div>
      <div>
        <label for="age">Edad:</label>
        <input type="text" id="age" placeholder="Edad" [(ngModel)]="age" name="age" required>
      </div>
      <div>
        <label for="address">Domicilio:</label>
        <input type="text" id="address" placeholder="Domicilio" [(ngModel)]="address" name="address" required>
      </div>
      <div>
        <label for="email">Email:</label>
        <input type="text" id="email" placeholder="Email" [(ngModel)]="email" name="email" required>
      </div>
      <div>
        <label for="password">Contraseña:</label>
        <input type="password" id="password" placeholder="Contraseña" [(ngModel)]="password" name="password" required>
      </div>
        <button type="submit">Registrarse</button>
    </form>
  </div>
</div>